body {

	height: 100%;
	margin: 0;
	font-family: Montserrat;
	text-align: center;
	color: white;
	background: linear-gradient(to right, #828282, #cd0e0e);
	display: flex;
	justify-content: center;
	align-content: center;

}
.container {
	margin:10rem 20%;
	height: 100%;
}
h1 {
	padding-left: 20px;
	text-align: left;
	font-size: 3rem;
	font-weight: bold;
}

